apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  tls: {}
  routes:
    - match: Host(`grafana.homelab.bertbullough.com`)
      kind: Rule
      services:
        - name: monitoring-grafana
          port: 80
