apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-resources
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/dirtmerchant/homelab.git
    targetRevision: main
    path: k8s/argocd
    directory:
      include: "{ingress,networkpolicy}.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
